$primary-font: 'Quicksand', sans-serif;
$base-font-size: 14px;

// Primary & secondary color of the website
$primary-color: #EEE;
$secondary-color: #232D3D;

// Primary & secondary color for the text in the site
$text-primary-color: #000;
$text-secondary-color: #BBB;

$desktop-min-width: 900px;
$mobile-max-width: 899px;

$btn-primary-color: #3498db;
$btn-primary-hover-color: #3cb0fd;