@import "reset";
@import "constants";
@import "base";

.container {
  margin: 0 auto;
  @media(min-width: $desktop-min-width) {
    width: 75%;
  }
  @media(max-width: $mobile-max-width) {
    width: 96%;
  }
}
.filter-container {
  display: flex;
  justify-content: flex-end;
  margin: 16px 0;
  @media(max-width: $mobile-max-width) {
    justify-content: center;
  }
}
.list-container {
  margin-bottom: 16px;
}
