@import "reset";
@import "constants";
@import "base";

.container {
  margin: 0 auto;
  @media(min-width: $desktop-min-width) {
    width: 75%;
  }
  @media(max-width: $mobile-max-width) {
    width: 100%;
  }
}
.filter-container {
  float: right;
  margin: 16px 0;
}
.list-container {
  clear: both;
}
