@import "../constants";

.filter-news-source {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.filter-text {
  font-size: $font-size-very-big;
  font-weight: bold;
  margin-right: 8px;
}

/* Reset Select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #365b92;
  background-image: none;
}
/* Custom Select */
.select-container {
  position: relative;
  display: block;
  width: 200px;
  height: 36px;
  line-height: 36px;
  background: #365b92;
  overflow: hidden;
  border-radius: 3px;
}
select {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 6px;
  color: #fff;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}
/* Arrow */
.select-container::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 12px;
  background: #253b5f;
  pointer-events: none;
  color: #fff;
  font-size: 12px;
}
/* Transition */
.select-container:hover::after {
  color: #ccc;
}
.select-container::after {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
